div#search_engine_Area * { margin:0!important; padding: 0!important; outline: none!important;}
div#search_engine_Area {
	margin: 10px!important;
	padding: 10px!important;
    background-color:#FFF!important;
	font-family: Arial, Helvetica, sans-serif!important;
	max-width: 80em!important;
	clear: both!important;
}
div#search_engine_Area h1 {
    color:#000!important;
    margin-bottom:15px!important;
}
div#search_engine_Area p {
    color:#000!important;
}
div#search_engine_Area input.search_engine_Box {
	padding: 2px!important;
	font-size: 17px!important;
	vertical-align: middle!important;
	font-family: Arial, Helvetica, sans-serif!important;
	margin: 0!important;
    color:#000!important;
}
div#search_engine_Area input.search_engine_Button {
	margin: 0 0 0 5px!important;
	font-family: Arial, Helvetica, sans-serif!important;
	font-size: 15px!important;
	height: 1.85em!important;
	vertical-align: middle!important;
	padding: 0 8px!important;
	background:  #efefef!important;
	-webkit-border-radius: 4px!important;
	-moz-border-radius: 4px!important;
	border-radius: 4px!important;
	border: 1px solid #999!important;
    color:#000!important;
	cursor: pointer!important;
}
div#search_engine_Area input.search_engine_Button:hover {
	background:  #dadada!important;
	-webkit-border-radius: 4px!important;
	-moz-border-radius: 4px!important;
	border-radius: 4px!important;
    color:#000!important;
	border: 1px solid #999!important;
	cursor: pointer!important;
}
div#search_engine_Area div.search_engine_InfoBar {
	margin: 20px 0 11px 0!important;
	padding: 5px!important;
	background-color: #F0F7F9!important;
	border-top: 1px solid #6B90DA!important;
	clear: both!important;
    color:#000!important;
}
div#search_engine_Area div.search_engine_InfoBar p {
	margin: 0!important;
	padding: 0!important;
	text-align: right!important;
	font-size: 13px!important;
    color:#000!important;
}
div#search_engine_Area ul.search_engine_results {
	list-style-type: none!important;
	margin: 0!important;
	padding: 0!important;
    color:#000!important;
}
div#search_engine_Area ul.search_engine_results li {
	list-style-type: none!important;
	margin: 0 0 15px 0!important;
}
div#search_engine_Area h3.search_engine_Title {
	font-size: 16px!important;
	margin: 0 0 2px 0!important;
	font-weight: normal!important;
}
div#search_engine_Area h3.search_engine_Title a:link, div#search_engine_Area h3.search_engine_Title a:active, div#search_engine_Area h3.search_engine_Title a:hover {
	color: #2200CC!important;
}
div#search_engine_Area h3.search_engine_Title a:visited {
	color: #551A8B!important;
}
div#search_engine_Area div.search_engine_Description {
	font-size: 13px!important;
	max-width: 42em!important;
	margin: 0!important;
	padding: 0!important;
    color:#000!important;
}
div#search_engine_Area cite.search_engine_URL a {
	color: green!important;
	font-size: 13px!important;
	margin: 0!important;
	padding: 0!important;
	text-decoration: none!important;
}
div#search_engine_Area cite.search_engine_URL a:hover {
text-decoration: underline!important;
}
div#search_engine_Area div.search_engine_Pagination {
	margin: 0!important;
	padding: 10px 0!important;
	font-size: 14px!important;
	width:100%!important;
	border-top: 1px solid #ccc!important;
	text-align: center!important;
	color: #000!important;
}
div#search_engine_Area div.search_engine_Pagination span.current {
	color: #000!important;
}
div#search_engine_Area div.search_engine_Pagination a {
	color: #000!important;
	padding: 2px!important;
}
div#search_engine_Area div.search_engine_Pagination a.current {
	color: #A90A08!important;
	font-weight: bold!important;
	text-decoration: none!important;
}
div#search_engine_Area div.search_engine_Pagination a.search_engine_NextLink,
div#search_engine_Area div.search_engine_Pagination a.search_engine_PrevLink {
	padding: 0!important;
    font-weight: bold!important;
    margin: 0!important;
	color: #000!important;
}
div#search_engine_Area div.search_engine_Pagination a.search_engine_PrevLink {
	margin-right: 20px!important;
}
div#search_engine_Area div.search_engine_Pagination a.search_engine_NextLink {
	margin-left: 20px!important;
}
div#search_engine_Area p.search_engine_normal {
    margin-bottom:10px!important;
	color: #000!important;
}
div#search_engine_Area ul.search_engine_real {
    margin-left:30px!important;
    list-style:disc!important;
	color: #000!important;
}
div#search_engine_Area ul.search_engine_real li {
    margin-left:10px!important;
    list-style:disc!important;
	color: #000!important;
}